[Desktop Entry]
Comment=Use WPS Spreadsheets to analyze manage data.
Comment[zh_CN]=使用WPS表格分析、管理数据
Comment[pt_BR]=Use WPS Planilhas para analisar e gerenciar dados.
Exec=/usr/bin/et %f
GenericName=WPS Spreadsheets
GenericName[zh_CN]=WPS 表格
GenericName[pt_BR]=WPS Planilhas
MimeType=application/wps-office.et;application/wps-office.ett;application/wps-office.xls;application/wps-office.xlt;application/vnd.ms-excel;application/msexcel;application/x-msexcel;application/wps-office.xlsx;application/wps-office.xltx;
Name=WPS Spreadsheets
Name[zh_CN]=WPS 表格
Name[pt_BR]=WPS Planilhas
StartupNotify=false
Terminal=false
Type=Application
Categories=Office;Spreadsheet;Qt;
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Icon=wps-office-etmain
InitialPreference=3
